# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.keystore
*.jks
key.properties
local.properties
*.pem
*.cer
*.crt

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
/build/
/coverage/

# Platform Ephemeral & Native Build Artifacts
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Studio build outputs
/android/app/debug
/android/app/profile
/android/app/release

# Widget Preview
.widget_preview/
